
body {
  background: #e6c075;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin: 40px;
  color: #4c4a36;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.title {
  grid-column: 2;
  text-align: center;
}

.header-img {
  grid-column: 3;
  justify-self: end;
  width: 156px;
  height: auto;
  transition: transform 0.2s ease;
  border-radius: 24px;
}

.header-img:hover {
  transform: scale(1.1);
}

.header-img2 {
  grid-column: 1;
  justify-self: start;
  width: 156px;
  height: auto;
  border-radius: 24px;
  margin-right: 20px;
  transition: transform 0.2s ease;
}

.header-img2:hover {
  transform: scale(1.1);
}

.btn-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.add-btn {
  display: block;
  margin: 0 auto 30px;
  padding: 15px 30px;
  font-size: 20px;
  background: #e3d3b5;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.2s;
}

.btn-img {
  position: absolute;
  right: -1px;
  top: 50%;
  transform: translateY(-50%);
  width: 134px;
}

.add-btn:hover {
  background: #d9c8a9;
  transform: translateY(-2px);
}

.form {
  background: rgb(233, 226, 175);
  padding: 25px;
  margin: 20px auto;
  width: 360px;
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}

.hidden {
  display: none;
}

.form label {
  display: block;
  margin-top: 12px;
  font-size: 14px;
}

.form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.save-btn {
  margin-top: 18px;
  width: 100%;
  padding: 12px;
  font-size: 18px;
  background: #e3d3b5;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.save-btn:hover {
  background: #d9c8a9;
  transform: translateY(-1px);
}

.list-title {
  margin-top: 40px;
  text-align: center;
  font-weight: 300;
}

table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed;
}

th, td {
  word-wrap: break-word;
  padding: 12px;
}

th {
  text-align: left;
  font-weight: 300;
  font-size: 17px;
  padding-bottom: 10px;
}

td {
  border-bottom: 1px solid #ccc;
}

td a {
  color: #4c4a36;
  text-decoration: none;
  word-break: break-word;
}

td a:hover {
  text-decoration: underline;
  color: #333;
}

.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  pointer-events: auto !important;
  z-index: 9999 !important;
  transition: 0.2s;
}

.delete-btn:hover {
  color: red;
  transform: scale(1.1);
}

.edit-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  pointer-events: auto !important;
  z-index: 9999 !important;
  transition: 0.2s;
}

.edit-btn:hover {
  color: #333;
  transform: scale(1.1);
}

@media (max-width: 600px) {
  body {
    margin: 20px;
  }
  
  .form {
    width: 90%;
  }

  table {
    width: 100%;
    font-size: 14px;
  }
}
